@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;0,600;1,500&display=swap');

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
}

html {
    overflow-x: hidden !important;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    width: 100vw;
    background-color: #fff;
    overflow-x: hidden !important;
}

/* CURSEUR DE LA SOURIS */
@media (pointer: none), (pointer: coarse) {
	.cursor { display: none !important; visibility: hidden; opacity: 0; }

	* { cursor: auto !important; }
}
.cursor {
    width: 3rem;
    height: 3rem;
    border: 1px solid red;
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: width 0.5s, height 0.5s;
    z-index: 10;

    .intercursor {
        width: 1rem;
        height: 1rem;
        background-color: red;
        border-radius: 50%;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: all 0.4s ease;
        transform-origin: 50% 50%;
    }
}
.cursor.hoverInter .intercursor {
    background-color: black;
    opacity: 0.75;
}
.cursor.visibleCursor {
    opacity: 1;
}
.cursor.hiddenCursor {
    opacity: 0;
}
/* FIN **** CURSEUR DE LA SOURIS */


/* MENU */
.menu {
    height: 100vh;
    width: 100vw;
    background-color: black;
    
    display: grid;
    grid-template-rows: 80px auto;
    grid-template-columns: 100%;
    
    position: fixed;
    z-index: 2;
    overflow-x: hidden;
     
    animation-name: nav-comein;
    animation-duration: 1s;
    display: none;
  }
  
      @keyframes nav-comein {
          from {
          margin-left: 100%;
          width: 300%;
          }
          to {
          margin-left: 0%;
          width: 100%;
          }
      }
  
nav {
    width: 80vw;
    margin: 0 auto;

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    a {
      text-decoration: none;
      letter-spacing: 0.2rem;
      color: transparent;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: rgb(255, 255, 255);
      font-size: 36px;
      font-weight: 600;
    }
    a:hover {
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: rgb(255, 0, 0);
        transition: transform 500ms ease;
        transform: translateX(5%);
        width: fit-content;
        border-bottom: 3px solid red;
    }
    
}
.crossrotate {
    display: none;
}
.crossrotate:hover {
    transform: rotate(180deg);
    transition: transform 500ms ease-in-out;
}
@media (min-width: 768px) {
    nav {
        align-items: center;      
        a { font-size: 42px; }        
    }
}
/* FIN **** MENU */


header {
    width: 100vw;
    height: 80px;
    background-color: black;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;

    .flex-container {
        width: 90%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo {
        width: 35px;
    }
    button {
        background: transparent;
        border: transparent;
    }
    button:hover{
        cursor: pointer;
    }
}

/* SECTION ACCUEIL */
.home-container {
    height: 100vh;
    width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    .typing {
        font-size: 10vw;
        letter-spacing: 0.2rem;
        color: rgb(255, 0, 0);
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: rgb(255, 0, 0);
        margin-bottom: 20px;
        text-shadow: 2px 2px 1px rgb(70, 70, 70);
    }
    .typing::after {
        content: "";
        position: relative;
        margin-left: 5px;
        width: 2px;
        height: auto;
        border-right: 2px solid rgba(255, 0, 0, 0.144);
        animation: blink 0.4s infinite ease;
    }
    .text-uppercase {
        text-transform: uppercase;
        margin-bottom: 20px;
        font-style: oblique;
    }
    a {
        text-decoration: transparent;
        color: rgb(255, 0, 0);
        border-bottom: 1px dotted rgb(255, 0, 0);
    }
    a:hover {
        color: rgba(255, 0, 0, 0.562);
        cursor: pointer;
    }
    .home-me img {
        margin-top: 50px;
        width: 30vw;
        animation: float 5s ease-in-out infinite;
    }
}
@keyframes blink {
    0%{ opacity: 0; }
    100%{ opacity: 1;}
}
@keyframes float {
    0% { transform: translatey(15px); }
    50% { transform: translatey(25px); }
    100% { transform: translatey(15px); }
}
@media (min-width: 768px) {
    .home-container {
        flex-direction: row;
        h1 {
            font-size: 8vw;
        }
        p {
            font-size: 1.6vw;
        }
        .text-uppercase {
            font-size: 20px;
        }
        .home-me img {
            margin-top: 0px;
            margin-left: 5%;
        }
    }
    .home-me img {
        max-width: 300px;
        animation: float 5s ease-in-out infinite;
        margin-left: 5vw;
    }
}
/* FIN **** SECTION ACCUEIL */


/* SECTION A PROPOS */
.aboutme {
    width: 90vw;
    margin: 0 auto 80px auto;
    padding-top: 100px;

    h2 {
        width: fit-content;
        font-size: 20px;
        text-transform: uppercase;
        color: rgb(255, 0, 0);
        font-weight: 300;

        margin: 0 0 30px 0;
        letter-spacing: 0.25rem;
        border-bottom: 3px solid red;
    }
    p {
        letter-spacing: 0.05rem;
        line-height: 1.5rem;
        text-align: justify;
        margin: 30px 0;
    }
}
@media (min-width: 768px) {
    .aboutme {
        background-image: url(../img/illu-aboutme.png);
        background-repeat: no-repeat;
        background-size: 180px;
        background-position: bottom left 5%;

        h2, p {
            margin-left: 35%;
        }
    }
}
/* FIN **** SECTION A PROPOS */


/* SECTION COMPETENCES */

.competence-container {
    height: auto;
    margin-bottom: 180px;
    padding-top: 140px;
    
    h2 {
        text-align: center;
        text-transform: uppercase;
        color: rgb(0, 0, 0);
        font-weight: 300;
        letter-spacing: 0.25rem;
        margin-bottom: 50px;
    }
    .text {     
        width: 100vw;
        padding: 100px 0;
        white-space: nowrap;   
        overflow-x: hidden !important; 

        background-image: url(../img/illu-competences.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;

        .line1, .line2, .line3 {
            display: flex;
            animation: infiniteText 10s linear infinite;
            cursor: pointer;
            animation-play-state: running;
            margin-bottom: 20px;
            
            span {
                font-size: 30px;
                font-weight: 700;
                text-transform: uppercase;
                color: rgb(255, 0, 0);
                margin: 0 65px 0;
                transition: all ease 0.5s;
            }
        }
        .line2 {
            animation-direction: reverse;
            span { margin: 0 50px 0; }
        }
        .line3 {
            span { margin: 0 50px 0; }
        }
        .line:hover{ animation-play-state: paused; }
    }
    .text span:nth-child(odd), .text span:nth-child(even):hover {
        color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: rgb(255, 0, 0);
    }
    .text span:nth-child(odd):hover {
        color: rgb(255, 0, 0);
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: rgb(255, 0, 0);
    }

}
@media (min-width: 768px) {
    .competence-container {
        .text {
            .line1, .line2, .line3 {
                span {
                    font-size: 50px;
                }
            }
            .line2 {
                span { margin: 0 90px 0; }
            }
        }
    }
}

@keyframes infiniteText {
    0% { 
        transform: translateX(0);
    }
    100% { 
        transform: translateX(-100%);
    }
}
/* FIN **** SECTION COMPETENCES */


/* SECTION PORTFOLIO */
.portfolio {
    width: 100vw;
    height: auto;
    padding: 10vh 0 0 0;

    .portfolio-wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;

        .portfolio-container {
           height: auto;
            width: 100%;
            text-align: center;

            a {
                text-decoration: none;
            }
            .number {
                font-family: 'Raleway', sans-serif;
                font-size: 32vw;
                font-weight: 500;
            }
            .project {
                font-size: 4vw;
                text-transform: uppercase;
                padding-bottom: 20px;
            }
        }
        .bg-1, .bg-4{
            background-color: black;
            color: white;
        }
        .bg-2, .bg-5 {
            background-color: white;
            color: red;
        }
        .bg-3, .bg-6{
            background-color: red;
            color: black;
        }
        .bg-1:hover, .bg-2:hover, .bg-3:hover, .bg-4:hover, .bg-5:hover, .bg-6:hover {
            cursor: pointer;
            transition: all ease 0.5s;
        }
        .bg-1:hover {
            background-color: transparent;
            background-image: url(../templates/Calculator.png);
            background-size: cover;
            background-position: center center;
            transition: all ease-in-out 1s;
        }
        .bg-2:hover {
            background-color: transparent;
            background-image: url(../templates/Sunnyside.png);
            background-size: cover;
            background-position: center center;
            transition: all ease-in-out 1s;
        }
        .bg-3:hover {
            background-color: transparent;
            background-image: url(../templates/loopstudio.jpg);
            background-size: cover;
            background-position: center center;
            transition: all ease-in-out 1s;
        }
        .bg-4:hover {
            background-color: transparent;
            background-image: url(../templates/Room-Page.png);
            background-size: cover;
            background-position: center top;
            transition: all ease-in-out 1s;
        }
        .bg-5:hover {
            background-color: transparent;
            background-image: url(../templates/crowdfunding.jpg);
            background-size: cover;
            background-position: center center;
            transition: all ease-in-out 1s;
        }
        .bg-6:hover {
            background-color: transparent;
            background-image: url(../templates/Pageview.png);
            background-size: cover;
            background-position: center center;
            transition: all ease-in-out 1s;
        }
    }
    .goGithub {
        text-align: center;
        margin-top: 40px;
        z-index: 4;
    }
    .github {
        text-decoration: transparent;
        width: max-content;

        padding: 15px 25px;
        font-family: 'Space Grotesk', sans-serif;
        text-transform: uppercase;
        background-color: rgb(255, 0, 0);
        border: transparent;
        box-shadow: 2px 2px 10px 2px rgb(122, 122, 122);
        color: white;
    }
    .github:hover {
        background-color: black;
        transition: ease-in-out 0.3s;
        cursor: pointer;
    }
}
@media (min-width: 768px) {
    .portfolio {
        .portfolio-wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
    
            .portfolio-container {       
                .number { font-size: 20vw; }
                .project { font-size: 2vw; }
            }
            .bg-4 {
                background-color: red;
                color: black;
            }
            .bg-5 {
                background-color: black;
                color: white;
            }
            .bg-6 {
                background-color: white;
                color: red;
            }
        }
    }
}
/* FIN **** SECTION PORTFOLIO */


/* SECTION CONTACT */
.contact {
    width: 100%;
    padding: 18vh 5% 0 5%;
    height: auto;
    margin: 0 auto;

    .contact-img { 
        text-align: center;

        img{
            width: 80%;
            animation: plane 2s ease infinite;
        }
    }
    h2 {
        width: fit-content;
        font-size: 20px;
        text-transform: uppercase;
        color: rgb(255, 0, 0);
        font-weight: 300;

        margin: 40px 0 30px 0;
        letter-spacing: 0.25rem;
        border-bottom: 3px solid red;
    }
    .collab {
        letter-spacing: 0.10rem;
        line-height: 1.6rem;
        text-align: justify;
        margin-bottom: 50px;
    }
    fieldset {
        outline: transparent;
        border: transparent;

        input {
            outline: none;
            width: 100%;
            padding-left: 30px;
            height: 3rem;
            border: 1px solid lightgray;
            background: transparent;
            margin: 0 auto 20px auto;
            box-shadow: 2px 2px 10px 2px rgb(122, 122, 122);

            #name::placeholder,
            #email::placeholder {
                font-family: 'Space Grotesk', sans-serif;
            }
        }
    }
        /* ERRORS MESSAGES */
        .error-icon {
            width: 100%;
            background-image: url(../icons/icon-error.svg);
            background-repeat: no-repeat;
            background-position: 97% 49%;
            border: 2px solid rgb(255, 0, 0) !important;
        }
        .error {
            color: rgb(255, 0, 0);
            margin: -10px 5% 15px 0;
            font-size: 11px;
            float: right;
        }
    .btn-form {
        height: 2.5rem;
        width: 170px;
        font-family: 'Space Grotesk', sans-serif;
        text-transform: uppercase;
        background-color: black;
        color: white;
        border: transparent;
        box-shadow: 2px 2px 10px 2px rgb(122, 122, 122);
    }
    .btn-form:hover {
        background-color: rgb(255, 0, 0);
        transition: ease-in-out 0.3s;
        transform: scaleZ(20%);
        cursor: pointer;
    }
}
@keyframes plane {
    0% {
        transform : translateX(-5px);
    }
    50% {
        transform : translateX(5px)
    }
    100% {
        transform :translateX(-5px);
    }
}
@media (min-width: 768px) {
    .contact {
        display: flex;
        flex-direction: row-reverse;

        .contact-img { 
            text-align: right;
            align-self: center;

            img {
                width: 60%;
            }
        }
    }
}
/* FIN **** SECTION CONTACT */


/* SECTION FOOTER */
footer {
    background-color: black;

    .mail {
        width: 90%;
        margin: 60px auto 0 auto;
    .mailme {
        display: flex;
        padding: 15px 10px;
    
        img {
            width: 22px;
            margin-right: 10px;
        }
        a {
            font-size: 13px;
            text-decoration: dotted;
            color: white;
        }
        a:hover {
            color: red;
            border-bottom: 0.125em dotted red;
        }
    }
    }
    .copy-lpz {
        font-size: 12px;
        text-align: center;
        color: white;
        padding: 10px;
    }
}
@media (min-width: 768px) {
    .mail {
        display: flex;
        justify-content: space-around;
    }
}
/* FIN **** SECTION FOOTER */